<!-- 底部版权模板页面 -->
<html>
<body>
    <div>
        <div class="clear"></div>
        <div id="footer"></div>
        <br />
        <a href="">网站首页</a>|
        <a href="#">关于我们</a>|
        <a href="#">联系方式</a>|
        <a href="#">招聘信息</a>|
        <a href="#">版权声明</a>
        <br />
        <strong>&copy;CopyRight 2008-2009&nbsp;版权所有&copy;<br /></strong>
        在线咨询
        <a href="http://wpa.qq.com/msgrd?V=1&Uin=523285830&Site=&Menu=yes" title="点击咨询&#10;QQ:523285830" target="_blank">
        <img src="http://wpa.qq.com/pa?p=1:523285830:4" border="0" align="absmiddle" />   
        </a>
        &nbsp;&nbsp;
        <a href="http://www.miibeian.gov.cn/" target="_blank">鲁ICP证XXXXXXXX号</a>
        <br />
    </div>
</body>
</html>