<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3,org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <link rel="stylesheet" href="main.css" type="text/css" />
    <title>{$html_title}</title>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo"><img src="../images/logo.gif" /></div>
            <div id="nav">
                <a href="../index.php">首页</a>||
                <a href="../student/index.php">学生管理</a>||
                <a href="../blog/index.php"博客</a>||
                <a href="../news/index.php">新闻</a>||
                <a href="../contract/index.php">合同管理</a>||
                <a href="../shop/index.php">商店</a>||
                <a href="../club/index.php">论坛</a>
            </div>
        </div>
        <div id="clearheader"></div>
        <div id="adl">广告区</div>
        <div class="outer">
    </div>
</body>